@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.search-input {
  width: 500px;
  padding: 5px;
  border: 2px solid blue;
}

.result-container {
  width: 500px;
  margin: auto;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  max-height: 500px;
  overflow-y: scroll;
}

.result {
  display: block;
  padding: 5px;
}

.result:hover {
  background-color: grey;
  cursor: pointer;
}

.pagination {
  /* width: 500px; */
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.product-img {
  height: 200px;
  width: 200px;
}

.pageNumber-container {
  display: flex;
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.pageNumbers {
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.active-page {
  background-color: pink;
  margin: 5px;
  padding: 5px;
}

.user-search-container {
  display: flex;
  position: relative;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.user-search-input {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  border: 1px solid pink;
  border-radius: 20px;
}

.user-search-input input {
  border: none;
  height: 20px;
  padding: 5px;
  :focus {
    outline: none;
  }
}

.suggestions-list {
  max-height: 200px;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid solid #ccc;
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    :last-child {
      border-bottom: none;
    }
    :hover {
      background-color: #ccc;
    }
    img {
      height: 20px;
    }
  }
}

.user-pill {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 16px;
  cursor: pointer;
  img {
    height: 100%;
    /* width: 20px; */
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  gap: 10px;
}

.accordion-item {
  display: flex;
  /* align */
  /* justify-content: center; */
  justify-content: space-between;
  gap: 10px;
}

.accordion-title {
  display: flex;

  background-color: gray;
  width: 100%;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20;
  font-weight: 600;
}

.accordion-content {
  padding: 15px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
}

.right{
  float: right;
}