.add-comment,
.comment-actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0;
}

.comment-actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 5px 0;
}

.comment-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}

.comment-button {
  padding: 5px 10px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.comment-button:hover {
  background-color: #0056b3;
}

.comment-replies {
}

.comment {
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
  border-left: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.comment-content {
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
}

.comment-info {
  padding: 2px 0;
  margin: 0;
  font-size: 12px;
  color: #555;
}
